:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 100;
  font-size: 4rem;
}

input.inputToDo {
    width: 450px;
    padding: 2rem;
}

.strikethrough {
  text-decoration-line: line-through;
}
